.contato-grupos{
    height: 800px;
    background-image: radial-gradient(white, rgb(210, 210, 210));
    margin-top: -9.8rem;
}

.contato-grupos{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-text{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 2rem;
}

.right-text h3{
    text-align: start;
    font-size: 3rem;
    color: #0051ff;
    font-weight: 500;
    letter-spacing:1px ;
    margin-bottom: 2rem;
}

.right-text p{
    font-size: 1.2rem;
}

.bxs-chevrons-down{
    font-size: 3rem;
    animation: move infinite 3s;
}

@keyframes move{
    0%{
        transform: translateY(0px) ;
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}

.btn-contact{
    margin-top: 1rem;
    font-size: 1rem;
    padding: 1rem;
}

.left-images{
    width: 60%;
}

.left-images img{
    width: 380px;
    height: 525px;
    margin-bottom: -1.5rem;
}

@media(max-width:800px){
     .contato-grupos{
        margin-top: -5rem;
    }
    .right-text h3{
        font-size: 2rem ;
    }
    .right-text p{
        font-size: 1rem;
    }

    .left-images img{
        width: 230px;
        height: 375px;
        margin-bottom: -11rem;
    }
}
