
.container-animes{
    position: relative;
    height: 800px;
    max-height: 100%;
    margin-bottom: 8rem;
    margin-top: 4rem;
}

.container-animes .slide-container .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.content-an{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-animes .content-an{
    text-align: start;
    flex: 1 1 350px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.527);
    padding: 3rem;
    border-radius: 1rem;
    animation: textAnimation .4s linear .4s backwards;
}

@keyframes textAnimation{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }

}

.container-animes h3{
    font-size: 3rem;
    margin-left: 4rem;
    color: #2a6eff;
}

.container-animes p{
    font-size: 1.5rem;
    letter-spacing: 1px;
    width: 45%;
    margin: 2rem 0;
    margin-left: 4rem;
    color: white;
}

.container-animes .btn-slides{
    text-align: center;
    width: 40%;
    margin-top: 1rem;
    background-color: #578dff;
    display: inline-block;
    padding: 9px 40px;
    margin-left: 4rem;
    color: white;
    border-radius: 0.3rem;
    transition: all 0.2s ease;
}


.btn-slides:hover{
    background-color: #0051ff;
}

.container-animes .slide-container{
    display: none;
}

.container-animes .slide-container.active{
    display: block;
}


.container-animes .slide-container:nth-child(1) .slide {
    background: url(../image/shounen.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.container-animes .slide-container:nth-child(2) .slide {
    background: url(../image/seinen2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.container-animes .slide-container:nth-child(2) .slide .btn-slides{
    margin-top: 4rem;
}

.container-animes .slide-container:nth-child(3) .slide {
    background: url(../image/seinen.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.container-animes #prev,
#next
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background: #2a6eff;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 50px;
    transition: all 0.2s ease;
}


.container-animes #prev:hover,
#next:hover{
    background:#6e9cfd;
    transition: all 0.2s ease;
}

.container-animes #prev{
    left: 20px;
}

.container-animes #next{
    right: 20px;
}

@media screen and (max-width:767px){
    .content-an{
        margin-left: -2rem;
    }
     .container-animes{
       margin-bottom: 3rem;
    }
    .container-animes #prev{
        top: 60%;
        left:0;
    }
    .container-animes #next{
        top: 60%;
        right: 0;
    }

    .container-animes .content-an p{
        font-size: 16px;
        width: 70%;
        height: 10%;
    }
    .container-animes .content-an h3{
        font-size: 2.5rem;
    }
    .btn-slides{ 
        font-size: 1rem;
        padding: 1rem;
    }
}


